.wrapper {
  display: grid;
  width: 100%;
  gap: 0.6rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1000px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.silverGrid {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .silverGrid {
    flex-direction: row;
  }

  .silverGrid > div:nth-child(1) {
    width: 40%;
    margin-right: 0.6rem;
  }

  .silverGrid > div:nth-child(2) {
    width: 60%;
    margin-left: 0.6rem;
  }
}